/*Color palette: https://colorhunt.co/palette/177808
Dull Purple: #856c8b
Dull Light green: #d4ebd0
Dull Light blue: #a4c5c6
Dull Light yellow: #a4c5c6
*/
.box {
	height: 175px;
	width: 175px;
	background-color: #856c8b;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	text-align: center;
	font-size: 100px;
	color: white;
	line-height:175px; 
}

#main {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 595px;
	width: 595px;
	background-color: #a4c5c6;
	padding: 10px;
}

body {
	background-color: #d4ebd0;
	font-family: Arial, Verdana, sans-serif;
}

.titletext {
	text-align: center;
	color: #856c8b;
}

/*Css from light box project*/
.hidden {
	display:none;
}

.unhidden {
	display: block;
}

#lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#x {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	z-index: 2;
}

#positionMessage {
	position: absolute;
	top: 45px;
	left: 0px;
	width: 100%;
}

#boundaryMessage{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 200px;
	background-color:rgba(255,255,255,0.9);
	z-index: 1;
	padding: 30px;
	border: thick solid #a4c5c6;
}

#controls {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#newbutton {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 40px;
	width: 100px;
	background-color: #a4c5c6;
	color: white;
}